//fonts
$font-primary: "Lato",
sans-serif;
//colors
$teal: #0d6d6e;
$light-teal: #008080;
$very-light-teal: #bcd7d7;
$red: hsl(348, 100%, 61%);
$orange: #f57f20;
$yellow: #ffe270;
$yellow-orange: #ffb81f;
$purple: #4c0b87;
$white: #ffffff;
$gray: #777;
$light-gray: #9e9e9e;
$very-light-gray: #f1f2f3;
$black: #000000;
$primary: $teal;